@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto}
   @import ("tailwindcss")
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  body{
    background-color: #1A0B2E;
}
/* shared style */
.primary-btn{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    padding: 10px  16px 12px 20px ;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600px;
    text-align: center;
    /* width: 135px; */
    height: 44px;
    border: none;
        /* text-align: center; */
}
.text-green{
 color: #00FF88;
}
.text-light-white{
    color: #FFFFFF;
    opacity: 60%;
}
/* main styles */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}
.logo h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.wave{
    color: yellow;
    background-image: linear-gradient(rgba(251, 9, 180, 1)rgba(145, 0, 248, 1)rgba(247, 233, 63, 1));
}
.menu ul{
    display: flex;
    gap: 32px;
    }
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: white
}
/* banner related styles */
.banner-container{
    display: flex;
    margin-top: 100px;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    position: relative;
    height: auto;
}


.banner-img-1{
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    
    /* padding: top: 50px; */
}
.banner-img-2{
    position: absolute;
    bottom: 310px;
    z-index: 1;
}
.banner-img{
    justify-items:  center;
}
.banner-title{ 
    font-size: 3.75rem;
    font-weight: bolder;
    color: white;
    /* margin-top: 30px; */
}
.banner-description{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}
.secondary-btn{
    border: 1px solid #00FF88;
    border-radius: 1000px;
    padding: 12px 20px;
    color: #00FF88;
    margin-left: 8px;
}
.tooltip{
    background-color: #00FF88;
    border-radius: 100px;
    padding: 8px 16px;
    color: #1A0B2E;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    right: 600px;
    top: 10px;
    font-size: 1.12 rem;
    font-weight: 600px;
    z-index: 5;
}
/* podcast related styles */
.podcast{
    margin-top: 100px;
    max-width: 1156px;
    margin: 0 auto;
    
}


.podcast-content{
    padding: 50px 200px;
}
.podcast-content>h3{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
}
hr{
    border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
   max-width: 1156px;
      margin: 80px auto;
}
.podcast-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   margin-bottom: 120px;
}
.podcast-card{
        text-align: center;
}
.podcast-card h3{
    font-size: 2.25rem;
    font-weight: 700;
    
}

/* feateured related styles */

.featured{
    padding: ;
}

.featured>h3{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.card{
    /* background: rgba(53, 17, 101, 0.4) */
    border-radius: 40px;
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    
}
.card h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.card1{
    grid-area: c-1;
}
.card2{
    grid-area: c-2;
}
.card3{
    grid-area: c-3;
}
.card4{
    grid-area: c-4;
}
.card5{
    grid-area: c-5;
}


.featured-card{
    display: grid;
    
    grid-template-areas: 
    "c-1 c-1 c-2 c-2 c-2 c-2"
    "c-1 c-1 c-2 c-2 c-2 c-2"
    "c-1 c-1 c-4 c-4 c-4 c-4"
    "c-1 c-1 c-4 c-4 c-4 c-4"
    "c-3 c-3 c-3 c-3 c-5 c-5"
    "c-3 c-3 c-3 c-3 c-5 c-5"
    ;
    grid-gap: 30px;
    padding: 40px 200px 120px;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar{
        justify-content: space-between;
        align-items: center;
        padding: 0 15px ;
        margin-top: 5px;

    }
    
    .menu{
        display: none;
    }
    
    .nav-btn{
        display: none;
    }
    .banner-container{
        
        width: 100%;
        background: url(./assets/hero-bg-2.png);
        width: 100%;
        background-size: cover;
        background-position: center;
        padding-top: 40px;
        margin-top: 0px;
            }
    .banner-img-1{
    width: 200px;
    height: 200px;
}
    .banner-img-2{
        width: 80px;
        height: 80px;
    }

    .tooltip{
    right: 135px;
    }
 .podcast-card-container{
    grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 40px;
    }  
    .podcast-content{
        padding: 30px 20px;
        width: 440px;
        margin: 0 auto;
    } 
    .podcast-content>h3{
    font-size: 2rem;
    margin-bottom: 20px;
    }
    hr{
        width: 440px;
        margin: 30px auto;
    }
    .featured>h3{
        font-size: 2rem;
    }
    .card{
        width: 400px;
        margin: 0 auto;
    }
    .featured-card{
    grid-template-areas: 
    "c-1 c-1"
    "c-2 c-2"
    "c-4 c-4"
    "c-3 c-3"
    "c-5 c-5"
    ;
    padding: 24px;
}

}


@media screen and (min-width:576px) {
    .hamburger{
        display: none;

    }
}